In [13]:
import pandas as pd
import numpy as np

In [14]:
pvty = pd.read_csv('data/pvty.csv')
gdp_hrs_wkd = pd.read_csv('data/gdp_hrs_wkd.csv')
inc_ineq = pd.read_csv('data/inc_ineq.csv')
emp_rate = pd.read_csv('data/emp_rate.csv')

In [18]:
inc_ineq

    LOCATION  Year  Gini coefficient (no units)
0        AUT  2007                        0.284
1        AUT  2008                        0.280
2        AUT  2009                        0.289
3        AUT  2010                        0.280
4        AUT  2011                        0.281
..       ...   ...                          ...
278      LTU  2015                        0.372
279      LTU  2016                        0.378
280      LTU  2017                        0.374
281      LTU  2018                        0.361
282      LTU  2019                        0.357

[283 rows x 3 columns]

In [19]:
test = pd.merge(pvty, gdp_hrs_wkd, how='outer', left_on=['LOCATION', 'Year'], right_on = ['LOCATION','Year'])
test = pd.merge(test, inc_ineq, how='outer', left_on=['LOCATION', 'Year'], right_on = ['LOCATION','Year'])
test = pd.merge(test, emp_rate, how='outer', left_on=['LOCATION', 'Year'], right_on = ['LOCATION','Year'])

In [20]:
test

,LOCATION,Year,Poverty index (no unit),GDP per hours worked wage (USD/hour),Gini coefficient (no units),Employment rate (% of working age population)
0,AUT,2007,0.097,63.814049,0.284,69.875
1,AUT,2008,0.093,63.814456,0.280,70.825
2,AUT,2009,0.096,63.363388,0.289,70.325
3,AUT,2010,0.089,64.291488,0.280,70.775
4,AUT,2011,0.091,64.947960,0.281,71.100
...,...,...,...,...,...,...
897,SWE,2021,NaN,NaN,NaN,75.375
898,EST,2021,NaN,NaN,NaN,73.975
899,SVN,2021,NaN,NaN,NaN,71.450
900,LVA,2021,NaN,NaN,NaN,69.850
901,LTU,2021,NaN,NaN,NaN,72.425

In [21]:
test.to_csv('data/final.csv',na_rep='NaN')